ion-item {
    border-radius: 10px !important;
}

ion-thumbnail {
    width: 50%!important;
    height: 50%!important;
}
@media screen and (min-width: 700px) {
    ion-thumbnail {
        width: 25%!important;
        height: 25%!important;
    }
}